body {
  background: yellow(255, 255, 0);
}
.banner {
  background: blue;
}
h1 {
  color: white;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  body {
    background: lightgoldenrodyellow;
  }
  .banner {
    background: lightcoral;
    border-radius: 20px;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  body {
    background: pink;
  }
  .banner {
    background: purple;
  }
  h1 {
    color: lightsalmon;
    font-size: 40px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
